/*-- Universal CSS --*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Merriweather-Regular', sans-serif;
  font-size: 20px;
  color: #333333;
}

p{
  line-height: 42px;
  font-size: 25px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Font CSS--*/
@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherSans-Light';
  src: url('../fonts/Merriweather_Sans/static/MerriweatherSans-Light.ttf') format('truetype');
}

/*-- Navigation CSS --*/

nav{
  font-size: 20px;
  position: fixed;
  padding: 5px;
  background: white;
  width: 100%;
  text-align: center;
  z-index: 10;
}

nav a{
  text-decoration: none;
  padding: 5px;
}

/* selected link */
nav a:active {
  color: #F075AC;
}

/* Current/active navbar link */
.active {
  color: #F075AC;
}

nav ul li{
  display: inline;
}

nav li svg{
  display: block !important;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
}

ul {
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
}

li svg path{
  fill: #F8B3D0;
}


/* Change the link color to #F075AC (dark pink) on hover */
li a:hover {
  color: #F075AC;
}

/*-- Body CSS --*/
.home {
    margin: auto;
    max-width: 100%;
}

body{
  background: white;
}

img.upperleft{
  position: relative;
  margin-left: 13px;
  margin-top: 45px;
}

img#cass-fullcolor{
  float: left;
  margin-top: 45px;
}
.container.welcome{
  max-width: 1000px;
  min-height: 350px;
  margin: auto;
  margin-left: 87px;
}
.container h1 {
    padding-top: 50px;
    padding-left: 10px;
}

.container.welcome p{
  color: #797979;
  padding-left: 10px;
}

.intro {
  padding-left: 45px;
  max-width: 100%;
  float: left;
  margin-top: 125px;
}

.intro h1 {
    font-size: 45px;
    line-height: 80px;
}

img.bottomright {
  margin-left: 1100px;
}

.work-with-me {
    border-radius: 5px;
    background: #F075AC;
    padding: 18px;
    margin-left: 432px;
    box-shadow: 10px 10px 10px -3px grey;
    text-align: center;
    margin-top: 81px;
    max-width: 145px;
}

.work-with-me a{
  color: white;
  text-decoration: none;
  padding: 5px;
}

/* hover link */
.work-with-me :hover {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 11px;
    text-align: center;
    max-width: 100%;
}

.work-with-me a{
  text-decoration: none;
  padding: 5px;
}


/*--Contact Form--*/
form.contact_form{
  background: #F8B3D0;
  padding: 20px;
  max-width: 500px;
  border-radius: 7px;
  color: white;
  font-family: merriweather-sans;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
  overflow: hidden;
  height: auto;
}

.label_input_wrap{
  display: inline-block;
  padding: 5px;
}

label{
  font-weight: bold;
}

.name.input-section {
  line-height: 25px;
}

.company.input-section {
  line-height: 25px;
}

.email.input-section {
  line-height: 25px;
}

.telephone.input-section {
  line-height: 25px;
}

.service.input-section {
  line-height: 25px;
}

select#service {
    color: #797979;
}

.comments.input-section {
  line-height: 25px;
}

textarea#comments {
    line-height: 20px;
}

input[type="submit"] {
    color: white;
    background: #F075AC;
    border-radius: 5px;
    padding: 5px;
    float: right;
}

/*--Footer--*/

footer{
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  color: #333333;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  background: white;
  display: block;
  bottom: 0px;
}

footer a{
  color: #333333;
  padding: 3px;
  font-size: 30px;
}
